@import '../../common/colors.scss';

.leaveCardContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    padding: 7px 7px 14px;

    .top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        span {
            font-size: 16px;
            color: $title;
        }

        button {
            font-size: 12px;
            background: $primary;
            color: white;
            border: 1px solid $primary;
            border-radius: 5px;
            padding: 3px 6px;
            outline: none;
        }

        button:active {
            background: $dark-primary;
        }
    }

    .middle {
        display: flex;
        flex-direction: row;
        
        .label {
            width: 71px;
        }
    }

    .bottom {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .time {
        color: $icon;
        position: absolute;
        bottom: 4px;
        right: 7px;
    }
}