.homeContainer {
    main {
        width: 100%;

        .friendsList {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            background: #f8f8f9;
        }

        .friendsList li {
            list-style-type: none;
            padding: 10px 20px;
            margin: 20px;
            border: 1px solid #468ee5;
            transition: all .2s ease-in-out;
        }

        .friendsList li:hover {
            background: #468ee5;
            color: white;
        }

    }
}