@import '../../common/colors.scss';

.backContainer {
    display: flex;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    margin: auto 18px;

    span {
        margin-left: 4px; 
    }
}