@import '../../common/colors.scss';

.studentInfoContainer {
    display: flex;
    flex-direction: column;
    font-size: 14px;

    .chooseInfo {
        width: 100%;
        background: $background;
        padding: 10px;
        border-radius: 5px;

        .status {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .item {
                margin: 5px 5px 0 0;
        
                .label {
                    color: $title;
                }
        
                .content {
                    color: $content;
                    margin-right: 10px;
                }
            }
        }

        .editBtn {
            width: 100%;
            margin-top: 10px;
            color: $primary;
            text-align: center;
        }
    }

    .studentInfo {
        display: flex;
        flex-direction: column;

        .label {
            display: flex;
            flex-direction: row;
            background: $background;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            height: 30px;
            line-height: 30px;
            padding-left: 10px;
        }

        .value {
            border: 1px solid $background;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;

            div {
                display: flex;
                flex-direction: row;
                padding: 10px 0 10px 10px;
                border-bottom: 1px solid $background;
            }

            .operationBtn {
                border: 1px solid $primary;
                border-radius: 5px;
                text-align: center;
                margin-right: 10px;
                width: 50px;
            }
        }

        .name {
            flex: 1;
        }

        .num {
            flex: 2;
        }

        .operation {
            flex: 1;
        }
    }

    .ant-select {
        margin: 5px 1px;
    }

    .status { 
        margin-top: 5px;
    }

    .item {
        margin: 5px;

        .label {
            color: $title;
        }

        .content {
            color: $content;
        }
    }

    .ant-radio-wrapper { 
        margin: 5px 0 5px;
    }
}

.setStatus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    button {
        width: 40%;
        padding: 10px;
        color: white;
        outline: none;
        border-radius: 5px;
        margin: 15px 0;
        font-size: 16px;
    }

    button:nth-child(1) {
        background: $primary;
        border: 1px solid $primary;
    }
    button:nth-child(2) {
        background: $success;
        border: 1px solid $success;
    }
    button:nth-child(3) {
        background: $warning;
        border: 1px solid $warning;
    }
    button:nth-child(4) {
        background: $error;
        border: 1px solid $error;
    }
}

