@import '../../../common/colors.scss';

.middleContainer {
    -webkit-overflow-scrolling:touch;
    
    .ant-tabs-nav {
        width: 100%;
    }

    .ant-tabs-tab {
        width: 50%;
        margin: 5px auto;
        text-align: center;
    }

    .recordContainer {
        padding: 14px;
    }
    
}