@import '../../../common/colors.scss';

.loginContainer {
    display: flex;
    flex-direction: column;

    .ant-select {
        width: 88%;
        margin-left: 6%;
        margin-bottom: 34px;
    }

    .ant-select-selection--single {
        height: 45px;
        border-radius: 38px;
        background: rgba(255, 255, 255, 0);
        border: 2px solid white;
        outline: none;
    }

    .ant-select-selection__rendered {
        line-height: 40px; 
        color: white; 
        text-indent: 5px;
    }

    .ant-select-selection__placeholder {
        color: white;
    }

    input {
        width: 88%;
        height: 45px;
        margin-bottom: 34px;
        margin-left: 6%;
        border-radius: 38px;
        outline: none;
        color: white;
        border: 2px solid white;
        text-indent: 1em;
        background: rgba(255, 255, 255, 0);
    }

    input::-webkit-input-placeholder {
       color: white;
    }

    .loginBtn {
        width: 88%;
        height: 45px;
        background: white;
        color: $primary;
        border-radius: 38px;
        font-size: 16px;
        font-weight: bold;
        border: 2px solid white;
        margin: 15px 6% 67px;
        outline: none;
    }

    .loginBtn:active {
        background: $background;
    }

    span {
        font-size: 15px;
        color: white;
        font-weight: bold;
        text-align: center;
        margin-bottom: 24px;
    }
}