@import '../../../common/colors.scss';

.courseDetailContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    header {
        height: 55px;

        .labelContainer {
            position: relative;
            z-index: 2;
        }
    }

    main {
        flex:1;
        overflow:auto;
        -webkit-overflow-scrolling:touch;
        margin-top: 20px;
        padding: 5px 10px;

        .empty {
            height: 40px;
        }
        
        .createContainer {
            background: $primary;
            position: absolute;
            bottom: 30px;
            right: 30px;
            border-radius: 30px;
            padding: 15px 16px;
        }

        .createContainer:active {
            background: $dark-primary;
        }

        .anticon-plus {
            font-weight: bold;
            font-size: 25px;
        }
    }

    footer {
        width: 100%;
        height: 1px;
    }
}