@import '../../common/colors.scss';

.attendStatisticContainer {
    width: 100%;
    font-size: 14px;
    margin-top: 15px;

    canvas { 
        width: 120px;
        height: 100px;
        margin: -10px auto 10px;
    }

    .antd-pro-charts-pie-pie .antd-pro-charts-pie-legend {
        margin-top: -40px;
    }

    .antd-pro-charts-pie-chart div div div {
        display: flex;
        flex-direction: row;
    }
}