/* 该颜色值为本项目所用到的所有颜色 */
$primary: #2d8cf0;
$success: #19be6b;
$warning: #ff9900;
$error: #ed4014;
$ligth-primary: #5cadff;
$dark-primary: #2b85e4;

$title: #17233d;
$content: #515a6e;
$icon: #808695;
$disabled: #c5c8ce;
$border: #dcdee2;
$divider: #e8eaec;
$background: #f8f8f9;

/* 以下是常用的字体大小 */
$labelText: 14px;
$commonText: 14px;
